$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

select{
  margin-top: 15px;
}

.ball {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: -100;

  &.bounce-top-down{
    -webkit-animation-name: bounceball-top-down;
    animation-name: bounceball-top-down;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    border: 1px solid black;
  }
  &.bounce-down-top{
    -webkit-animation-name: bounceball-down-top;
    animation-name: bounceball-down-top;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    border: 1px solid black;
  }
  &.bounce-left-right{
    -webkit-animation-name: bounceball-left-right;
    animation-name: bounceball-left-right;
    left: 0;
    top: 50%;
    margin-top: -50px;
    border: 1px solid black;
  }
  &.bounce-right-left{
    -webkit-animation-name: bounceball-right-left;
    animation-name: bounceball-right-left;
    right: 0;
    top: 50%;
    margin-top: -50px;
    border: 1px solid black;
  }
  &.static{
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
    border: 1px solid black;
  }

  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-delay: 0;
  -webkit-animation-timing-function: ease-out;

  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 0;

  timing-function: ease-out;

  animation-play-state: running;
  animation-fill-mode: none;
}


@-webkit-keyframes bounceball-top-down {
  from { top: 0; height: 10%; }
  10%  { top: 0; height: 10%; }
  to   { top: 50%; }
}

@-webkit-keyframes bounceball-down-top {
  from { bottom: 0; height: 10%; }
  10%  { bottom: 0; height: 10%; }
  to   { bottom: 50%; }
}

@-webkit-keyframes bounceball-left-right {
  from { left: 0; width: 90px; }
  10%  { left: 0; width: 90px; }
  to   { left: 50%; }
}

@-webkit-keyframes bounceball-right-left {
  from { right: 0; width: 90px; }
  10%  { right: 0; width: 90px; }
  to   { right: 50%; }
}
